

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #0b0d15;
  /* background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(38,91,248,.25),hsla(0,0%,100%,0)); */
  color: #a2a5b3;
  font-family: Poppins,sans-serif;
}
.topbar{
  margin: 0 auto;
  background: #1c1f2b;
  border-radius: 20px;
  width: 900px;
  color: white;
  height: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.topbar::after,.topbar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;  
  z-index: -1;
  padding: 3px;
  border-radius: 20px;
  animation: 3s spin linear infinite;
}
.topbar::before{
  filter: blur(1.5rem);
}
@keyframes spin{
  from{
    --angle:0deg;
  }
  to{
    --angle: 360deg;
  }
  
}
.logolink{
  text-decoration: none;
}
.logo{
  margin-top: 5px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 40px;
}
.buttons1{
  display: flex;
  justify-content: space-between;
}
.Startbutton{
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(49, 38, 163);
  border-radius: 8px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
.Startbutton:hover{
  background-color: #3d0099;
  cursor: pointer;
  animation: 4s;
}
.Twitterbutton{
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(49, 38, 163);
  border-radius: 8px;
  margin: 10px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.Twitterbutton:hover{
  background-color: #3d0099;
  cursor: pointer;
  animation: 4s;
}
.center{
  display: flex;
  justify-content: center;
}
.content1{
  /* margin: 0 auto; */
  margin-top: 120px;
  background: #1c1f2b;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  color: white;
  /* display: flex;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@property --ang{
  syntax: "<ang>";
  initial-value: 0deg;
  inherits: false;
}
.content1::after,.content1::before{
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 20px;
  animation: 3s spin linear infinite;
}
.content1::before{
  filter:blur(1.5rem);
}

.text1{
  margin-top: 60px;
  font-weight: bold;
  font-size: 40px;
}
.text2{
  font-size: 30px;
  font-weight: bold;
}
.Start2{
  font-weight: bold;
  font-size: 35px;  
  color: white;
  background-color: rgb(49, 38, 163);
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  margin-top: 35px;
}
.Start2:hover{
  background-color: #3d0099;
  cursor: pointer;
  animation: 4s;
}
.text3{
  font-size: 30px;
}
.center2{
  display: flex;
  justify-content: center;
}
.footer{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background: #1c1f2b;
  height: 70px;
  width: 900px;
  border-radius: 20px;
  color: white;
  position: relative;
}

.footer::after, .footer::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(red,blue,red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 20px;

}
.footer::before{
  filter: blur(1.5rem);
}
.madewith{
  padding-top: 20px;
  padding-left: 10px;
}
.sideicons{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10px;
}
.sideicons i{
  text-decoration: none;
  color: grey;
  padding-right: 8px;
}

.heartemoji{
  color: red;
}